/* #region RESET */

[v-cloak] {
    display: none;
}

.container {
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

/* #endregion RESET */

/* #region VARIABLES */

:root {
    --main-color: rgb(102, 163, 102);
}

/* #endregion VARIABLES */

/* #region TYPOGRAPHY */

body {
    background-color: var(--main-color);
}

h1 {
    color: white;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */


/* #endregion COMMON */

/* #region HEADER */


/* #endregion HEADER */

/* #region MAIN */

.search-bar {
    margin: 0 auto;
    width: 50vw;
    gap: 30px;
}

.pic-container {
    width: 200px;
}

.card h3 {
    font-size: 18px;
}

.card p {
    font-weight: normal;
    font-size: 14px;
}

.no-results-message {
    color: white;
}

/* #endregion MAIN */

/* #region FOOTER */

footer {
    color: white;
}

/* #endregion FOOTER */

/* #region UTILITIES */

.card {
    transition: all 0.5s;
    height: 400px;
}

.card:hover {
    transform: scale(0.95) rotateZ(1.7deg);
}

/* #endregion UTILITIES */